* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}


.logo {
    height: 70px;
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    background-color: #E7ECEF;
}

.navbar a {
    color: #0056b3;
}

.header {
    min-height: 100vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: #007bff;
    transform: scale(1.1);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    opacity: 1;
    z-index: 0;
    animation: imageCycle 12s linear infinite;
}

@keyframes imageCycle {
    0%, 33.33% {
        background-image: url('../css/img/pexels-keira-burton-6147276.jpg');
    }
    33.34%, 66.67% {
        background-image: url('../css/img/bgbgbg.jpg');
    }
    66.68%, 100% {
        background-image: url('../css/img/pexels-kelly-2881370.jpg');
    }
}




.custom-search-input {
    background-color: #274C77;
    border: 3px solid black;
    color: #274C77;
}

.custom-search-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.custom-search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}

.big-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin-bottom: 10px;
    color: #E7ECEF;
    transition: color 0.3s, text-shadow 0.3s; /* Add transitions for both color and text-shadow */
}

.small-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #007bff;
    transition: color 0.3s, text-shadow 0.3s; 
}


.big-title:hover {
    color: #007bff; 
    text-shadow: 0 0 10px rgba(0, 123, 255, 0.8); 
}

.small-title:hover {
    color: #E7ECEF; 
    text-shadow: 0 0 10px rgba(231, 236, 239, 0.8); 
}

.button2 {
    --color: #fff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
 .button2::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .button2:hover {
    color: #007bff;
  }
  
  .button2:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .button2:hover::before {
    top: -30px;
    left: -30px;
  }

/* CSS for the button */
.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Add a soft shadow */
  }
  
  .button:hover {
    transform: scale(1.05); /* Increase size on hover */
  }
  
  .type1::after {
    content: "Searching..";
    height: 50px;
    width: 150px;
    background-color: #007bff;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Search";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #0056b3;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  

.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #E7ECEF;
    color: black;
    text-align: center;
    padding: 20px 0;
}

.footer-logo img {
    width: 120px; 
    height: auto;
    margin-bottom: 10px; 
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.three-body {
    --uib-size: 35px;
    --uib-speed: 2s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}


.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
        calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%, 100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    25%, 75% {
        transform: translateY(-33%) scale(0.8);
    }
}

@keyframes wobble2 {
    0%, 100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    25%, 75% {
        transform: translateY(33%) scale(0.8);
        opacity: 0.8;
    }
}  

  
  
  
  


